@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #48CCBD;
	--color-danger: #D85447;
	--color-orange: #EF9A60;
	--color-success: #96BF6A;
	--color-bg:#ffffff;
  	--radius-xl:1rem;
  	--shadow:0 8px 30px rgba(0,0,0,.08);
}
html { scroll-behavior: smooth; }